@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.sec{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #01284d;
    transition: 0,5s;
    color:  #b11b07;
}

.newHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSamsung{
    position: relative;
    max-width: 180px;
}

.navbarSamsung{
    position: relative;
    display: flex;
}

.navbarSamsung li {
    list-style: none;
}

.navbarSamsung li a {
    display: inline-block;
    color: #ffff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #ffff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox h2 span{
    font-size: 2em;
}

.content .textBox p {
    color: #ffff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px ;
    background: #ffff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox{
    width: 600px;
    display: flex;
    margin-top: 50px;
    padding-right: 50px;
    justify-content: flex-end;
}

.content .imgBox img{
    max-height: 500px ;
    max-width: 720px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img {
    max-height: 75px;
    max-width: 60px;
}

.sci{
    padding-right: 80px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}

.celular1{
    padding-right: 300px;
}

.contenedor-footer{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background:#01284d; 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    }











